@page "/"
	<head>
		@*<link href="css/Style.css" rel="stylesheet" />*@
	</head>
	<body>
		<link href="css/Style.css" rel="stylesheet" />
		<header id="picture">
			<h1>Restaurant Review</h1>
			Welcome to Rotten Potato app.
			@*<img src="Restaurant.jpg" width="1000" height="1000" />*@
		</header>
	</body>
